body {
    font-family: Arial, sans-serif;
    margin: 0px;
}

#footer{
    position: sticky !important;
    width: auto !important;
}
.container{
    padding-bottom: 50px;
}

.table-container {
    overflow-x: auto;
    margin: 20px;
    white-space: nowrap;
}

main {
    padding: 20px;
}

.admin-table {
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
    font-size: 26px;
    text-align: left;
    border: 1px solid #ddd;
}

td:first-child,
th:first-child {
    position: sticky;
    left: 0;
    z-index: 2; /* Make sure the cel is above others */
    background-color: white;
    border: solid 1px grey;
}

.admin-table th, .admin-table td {
    border: 1px solid grey;
    padding: 8px;
}

.admin-table td {
    height: 50px;
}

td:nth-child(2) {
    max-width: 400px;
    overflow: auto;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Minimalist button styling */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: transparent;
    color: #058e28;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Hover effect */
.btn:hover {
    background-color: #058e28;
    color: white;
    border-color: #000000;
}

/* Focus and active state */
.btn:focus, .btn:active {
    outline: none;
    background-color: #2980b9;
    color: #fff;
    border-color: #2980b9;
}

.btn-delete {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-delete:hover {
    background-color: darkred;
}

#footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
