@import url('https://fonts.googleapis.com/css2?family=Roboto:&family=Lato:&display=swap');

h1 {
  font-family: 'Roboto' !important;
  font-weight: 100  !important;
  color: #333;
  text-align: center;
}

#aveilable-title{
  margin-top: 5px !important;
  margin-bottom: 0 !important;
}

#map-title {
  margin-bottom: 20px !important;
  letter-spacing: 1px;
}

h2 {
  font-size: 25px !important;
  font-family: 'Roboto' !important;
  font-weight: 300 !important;
}

/* ----- Contenedor principal del carrusel ----- */
#carousel-container {
  gap: 25px;
  display: flex;
  align-items: center;
  height: 500px;
  justify-content: center;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

/* ----- Contenedor del carrusel (propiedades) ----- */
#available-properties {
  display: flex;
  height: 500px;
  gap: 15px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  max-width: 100%;
  align-items: center;
  padding: 0 15px;
  white-space: nowrap;
}

/* ----- Tarjetas del carrusel ----- */
.cardcontainer {
  flex: 0 0 auto;
  width: 300px;
  height: 90%;
  max-width: 300px;
  border-radius: 10px;
  overflow: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: #ffffff6e;
  scroll-snap-align: start;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

/* Efecto de hover en la tarjeta */
.cardcontainer:hover {
  transform: scale(1.02);
}

/* ----- Imagen de la tarjeta ----- */
.photo img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* ----- Contenedor del contenido de la tarjeta ----- */
.content {
  padding: 25px;
  width: 100%;
  height: 220px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Espaciado entre párrafos dentro de la tarjeta */
p {
  margin-bottom: 5px !important;
}

/* ----- Estilos del título de la tarjeta ----- */
.txt4 {
  font-size: 18px;
  font-weight: bold;
  color: #3d5a80;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* ----- Estilos de la ubicación ----- */
.txt5 {
  font-size: 16px;
  color: #e07a5f;
  overflow: hidden;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: normal; 
}

/* ----- Estilos de la descripción ----- */
.txt2 {
  font-size: 14px;
  color: #464646;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal; 
  min-height: 2.8em;
}

/* ----- Footer de la tarjeta ----- */
.cardfooter {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  padding: 10px;
}

/* Botón "Read More" dentro de la tarjeta */
#btn-read-more {
  position: absolute;
}

/* ----- Botones de navegación ----- */
.btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}

/* Estilos generales de los botones prev y next */
button.prev,
button.next {
  background-color: transparent;
  border: 0;
  padding: 10px;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
}

/* Agrega sombra al hacer clic en los botones */
button.prev:active, 
button.next:active {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
  transform: scale(0.95);
}

/* Posicionamiento de los botones de navegación */
.prev {
  left: 10px;
  margin: 0 10px;
}

.next {
  right: 10px;
  margin: 0 10px;
}

/* ----- Estilos Responsivos ----- */


@media (max-width: 768px) {
  .cardcontainer {
    width: 80%;
  }
}


@media (max-width: 480px) {
  .cardcontainer {
    width: 90%;
    overflow-x: hidden;
  }
}
