/* ----- Estilos generales ----- */
.daterange-container {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.daterange-container h5 {
    font-family: 'Arial', sans-serif;
    color: #4a4a4a;
    font-size: 1.4rem;
    font-weight: 600;
}

/* ----- Estilos del input daterange ----- */
#daterange {
    padding: 0px 15px;
    width: auto;
    border: 2px solid #007bff;
    border-radius: 8px;
    background-color: #ffffff;
    color: #333333;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    outline: none;
}

#daterange:hover {
    border-color: #0056b3;
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.2);
}

#daterange:focus {
    border-color: #0056b3;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
    background-color: #f8f9fa;
}

#daterange::placeholder {
    color: #a9a9a9;
    font-style: italic;
}

#daterange:active {
    transform: scale(1.02);
}

/* ----- Mejora en el diseño responsivo ----- */
@media (max-width: 1024px) {  /* Tablet */
    .daterange-container {
        gap: 15px;  /* Menor separación entre los elementos */
    }

    #daterange {
        width: 30%;  /* Hace que el input ocupe un 70% del ancho */
        font-size: 16px;  /* Ajuste el tamaño del texto en el input */
    }

    .daterange-container h5 {
        font-size: 1.2rem;  /* Reduce el tamaño de la fuente del título */
    }
}

@media (max-width: 768px) {  /* Móvil */
    .daterange-container {
        gap: 10px;  /* Espaciado aún menor en pantallas más pequeñas */
    }

    #daterange {
        width: 40%;  /* Ocupa casi todo el ancho disponible */
        font-size: 14px;  /* Ajuste del tamaño de la fuente */
    }

    .daterange-container h5 {
        font-size: 1rem;  /* Reduce aún más el tamaño del título en pantallas pequeñas */
    }
}

@media (max-width: 458px) {  /* Móvil */
    .daterange-container {
        flex-direction: column;
        gap: 10px;  /* Espaciado aún menor en pantallas más pequeñas */
    }

    #daterange {
        width: 40%;  /* Ocupa casi todo el ancho disponible */
        font-size: 14px;  /* Ajuste del tamaño de la fuente */
    }

    .daterange-container h5 {
        font-size: 1rem;  /* Reduce aún más el tamaño del título en pantallas pequeñas */
    }
}
