@import url('https://fonts.googleapis.com/css2?family=Roboto:&family=Lato:&display=swap');

/* ----- Estilos generales ----- */
.daterange-container {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.daterange-container h5 {
    font-family: 'Roboto' !important;
    color: #4a4a4a;
    font-size: 1.4rem;
    font-weight: 600;
}

/* ----- Estilos del input daterange ----- */
#daterange {
    padding: 0px 10px;
    width:  15% !important;
    border: 2px solid #007bff;
    border-radius: 8px;
    background-color: #ffffff;
    color: #333333;
    font-size: 18px;
    font-family: 'Roboto' !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    outline: none;
}

#daterange:hover {
    border-color: #0056b3;
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.2);
}

#daterange:focus {
    border-color: #0056b3;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
    background-color: #f8f9fa;
}

#daterange::placeholder {
    color: #a9a9a9;
    font-style: italic;
}

#daterange:active {
    transform: scale(1.02);
}

/* ----- Mejora en el diseño responsivo ----- */
@media (max-width: 1024px) {
    .daterange-container {
        gap: 15px;
    }

    #daterange {
        width: 30%;
        font-size: 16px;
    }

    .daterange-container h5 {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .daterange-container {
        gap: 10px;
    }

    #daterange {
        width: 40%;
        font-size: 16px;
    }

    .daterange-container h5 {
        font-size: 1rem;
    }
}

@media (max-width: 458px) {
    .daterange-container {
        flex-direction: column;
        gap: 10px;
    }

    #daterange {
        width: 50%;
        font-size: 16px;
    }

    .daterange-container h5 {
        font-size: 1rem;
    }
}