html {
    scroll-behavior: smooth;
}

/* General */
body {
    margin: 0;
    font-family: 'Roboto';
}

.container {
    margin: 0 auto;
    padding: 0 1rem;
}

/* Content Grid */
.content-grid {
    display: flex;
    gap: 20px;
    padding: 10px;
}

@media (min-width: 768px) {
    .content-grid {
        flex-direction: row;
    }
}

/* Icon */
.fa-caret-left {
    font-size: 40px;
    margin-left: 10px;
}

/* Date Range */
#daterange {
    padding: 10px 15px !important;
    margin: 10px 0;
    width: fit-content !important;
}

/* Property Details */
.property-details {
    flex: 1;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 28px;
    font-weight: 700;
    color: #2c3e50;
    margin-bottom: 15px;
}

/* Location */
.location {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #8e44ad;
    margin-bottom: 15px;
}

.location .icon {
    margin-right: 8px;
}

/* Features */
.features {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.feature {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 12px;
    font-size: 18px;
    color: #2c3e50;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1 1 220px;
    transition: transform 0.2s;
}

.feature:hover {
    transform: translateY(-3px);
}

.feature .icon {
    color: #3498db;
    font-size: 24px;
    margin-right: 10px;
}

.feature .bedrooms {
    display: flex;
    flex-direction: column;
}

/* Description */
.description h2 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #34495e;
}

.description p {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 1.7;
    color: #7f8c8d;
}

/* Extra Features */
.extra-features h5 {
    font-size: 1.6em;
    margin: 15px 0 10px 0;
    color: #333;
}

.extra-features ul {
    padding: 0;
}

.extra-features ul li {
    font-size: 18px;
    margin-bottom: 5px;
    color: #555;
    display: flex;
    align-items: center;
}

.extra-features ul li strong {
    font-weight: 600;
    margin-right: 10px;
    font-size: 20px;
}

.extra-features ul li i {
    color: #007bff;
    margin-right: 8px;
}

/* Contact Form */
.contact-form {
    display: grid;
    gap: 1rem;
    font-weight: 100;
}

.form-group {
    display: grid;
    gap: 0.5rem;
}

.form-group label {
    font-weight: lighter;
    font-size: 25px;
}

.form-group input,
.form-group textarea {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 20px;

}

.form-group textarea {
    resize: none;
}

.contact-form button {
    background-color: #007bff;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0056b3;
}

/* Image Gallery */
.image-gallery {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    scrollbar-width: thin;
    height: 1554px;
    border-radius: 8px;
}

.main-image {
    width: 100%;
    border-radius: 0.5rem;
}

.main-image img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.main-image:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Thumbnail Gallery */
.thumbnail-gallery {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 150px;
    gap: 0.5rem;
    padding-right: 5px;
    grid-auto-flow: dense;
}

/* Thumbnail Images */
.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    will-change: transform;
}

.thumbnail:nth-child(3n) {
    grid-column: span 2;
}

.thumbnail:nth-child(4n) {
    grid-row: span 2;
}

.thumbnail:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Scrollbar */
.thumbnail-gallery::-webkit-scrollbar {
    width: 8px;
}

.thumbnail-gallery::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.thumbnail-gallery::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

#footer{
    width: -webkit-fill-available !important;
}

/* Popup */
.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.popup-content {
    max-width: 90%;
    max-height: 90%;
}

/* Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

/* Navigation Arrows */
.previous,
.next-one {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.previous {
    left: 10px;
}

.next-one {
    right: 10px;
}
