html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif; /* Consider adding a default font */
}

.container {
    margin: 0 auto;
    padding: 0 1rem; /* Adjusted padding for better responsiveness */
}

/* Content Grid */
.content-grid {
    display: flex;
    gap: 20px;
    padding: 10px;
}

.fa-caret-left {
    font-size: 40px;
    margin-left: 10px;
}

@media (min-width: 768px) {
    .content-grid {
        flex-direction: row; /* Change to flex-direction: row */
    }
}

#daterange {
    padding: 10px 15px !important;
    margin: 10px 0;
}

/* Property Details */
.property-details {
    flex: 1;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 28px;
    font-weight: 700;
    color: #2c3e50;
    margin-bottom: 15px;
}

.location {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #8e44ad;
    margin-bottom: 15px;
}

.location .icon {
    margin-right: 8px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

.feature {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    color: #34495e;
    flex: 1 1 200px;
}

.feature .icon {
    color: #3498db;
    margin-right: 8px;
}

.description p {
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 1.6;
    color: #7f8c8d;
}

.description h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.contact-form {
    display: grid;
    gap: 1rem;
}

.form-group {
    display: grid;
    gap: 0.5rem;
}

.form-group label {
    font-weight: bold;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
}

.form-group textarea {
    resize: vertical;
}

.contact-form button {
    background-color: #007bff;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #0056b3;
}

/* Image Gallery */
.image-gallery {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto; 
    scrollbar-width: thin;
    height: 718px; 
    border-radius: 8px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.main-image {
    width: 100%;
    border-radius: 0.5rem;
}

.main-image img {
    width: 100%;
    height: auto; 
    border-radius: 0.5rem;
}

/* Thumbnail image styling */
.thumbnail-gallery {
    flex-grow: 1; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 150px;
    gap: 0.5rem;
    padding-right: 5px;
    grid-auto-flow: dense;
}

/* Thumbnail image */
.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 0.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    will-change: transform;
}

.thumbnail:nth-child(3n) {
    grid-column: span 2;
}

.thumbnail:nth-child(4n) {
    grid-row: span 2;
}

.thumbnail:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.thumbnail-gallery::-webkit-scrollbar {
    width: 8px;
}

.thumbnail-gallery::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.thumbnail-gallery::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
