#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: rgb(35, 35, 35);
    color: #f8f8f8;
}
#footer p{
    margin: 0;
}

#logo {
    height: 50px;
}

#a-footer{
    color: #f8f8f8;
    cursor: progress;
}
#a-footer:hover{
    color: #f8f8f8;
}


