@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Lato:wght@100;300;400;700;900&display=swap');

/* ----- General styles ----- */
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
}

/* ----- Header ----- */
#header {
    height: 200px;
    background-image: url('/images/laGeria.jpg');
    background-position: center center;
    /* Centra la imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* ----- Logo within header ----- */
#nameLogo {
    height: 50%;
}

/* ----- Header menu ----- */
#header-menu {
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding-top: 10px;
}

/* ----- Menu items ----- */
#header-menu-word {
    margin: 0 20px;
    color: #f4f1de;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}

/* ----- Hover effect for menu items ----- */
#header-menu-word:hover {
    transform: scale(1.2);
    padding: 0px 5px;
    color: #ffffff;
    border-radius: 5px;
    text-shadow: 0 0 10px rgb(6, 6, 6);
}

/* ----- Importación de la fuente Roboto ----- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@media (max-width: 768px) {

    /* Móvil */
    #header {
        height: 100px;
        background-position: center center;
    }

    #header-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 0 10px;
    }

    #header-menu-word {
        margin: 10px 0;
        font-size: 20px;
        text-align: center;
    }

    #header-menu-word:hover {
        transform: scale(1.05);
    }

    #nameLogo {
        padding-top: 10px;
    }
}