/* ----- General styles ----- */
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none !important;
}

/* ----- Header ----- */
#header {
    height: 200px;
    background-image: url('/images/laGeria.jpg');
    background-position: center center;  /* Centra la imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* ----- Logo within header ----- */
#nameLogo {
    height: 50%;
}

/* ----- Header menu ----- */
#header-menu {
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding-top: 10px;
}

/* ----- Menu items ----- */
#header-menu-word {
    margin: 0 20px;
    color: #f4f1de;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}

/* ----- Hover effect for menu items ----- */
#header-menu-word:hover {
    transform: scale(1.3);
    padding: 0px 5px;
    color: #ffffff;
    border-radius: 5px;
    text-shadow: 0 0 10px rgb(6, 6, 6);
}

/* ----- Importación de la fuente Roboto ----- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/* ----- Responsivo: Ajustes para tablets y móviles ----- */
@media (max-width: 1024px) { /* Tablet */
    #header {
        height: 350px;  /* Reduce la altura en tablets */
        background-position: center center; /* Asegura que la imagen se mantenga centrada */
    }

    #nameLogo {
        height: 30%;
    }
}
@media (max-width: 768px) { /* Móvil */
    #header {
        height: 250px;  /* Menor altura en móviles */
        background-position: center center;  /* Centra la imagen de fondo */
    }

    #nameLogo {
        height: 40%;  /* Reduce el tamaño del logo */
    }

    #header-menu {
        flex-direction: column; /* Menú apilado */
        justify-content: flex-start; /* Alinea al inicio */
    }

    #header-menu-word {
        margin: 10px 0;  /* Mayor espaciado entre items */
        font-size: 30px;  /* Reduce el tamaño del texto */
        text-align: center; /* Centra los elementos */
    }
}
@media (max-width: 468px) { /* Móvil */
    #nameLogo {
        height: 30%;  /* Reduce el tamaño del logo */
    }
}